@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --body: black;
  --primary: white;
  --dark: black;
  --secondary: #FF7F00;
  --light: #b7c4e9;
}

body {
  margin: 0;
  padding: 0 0 120px 0;
  background-color: var(--body);
  color: var(--primary);
  line-height: 1.5;
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 1.1rem;
}
h2 {
  font-size: 0.8rem;
}

p {
  margin: 0;
}

a {
  color: var(--primary) !important;
  text-decoration: none;
}

a:hover {
  color: var(--secondary) !important;
  text-decoration: none;
}

header {
  padding: 20px 6% 5px 6%;
  background-color: var(--dark);
}

.logo { 
  width: auto;
  height: auto;
  text-align:center;
}

.icon {
  fill: var(--primary);
}

.icon:hover {
  fill: var(--secondary);
}

footer {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}
footer ul {
  margin: 0px;
  clear: both;
  text-align: center;
}
footer ul li {
  margin-right: 10%;
  list-style-type: none;
  display: inline-block;
}

footer ul li a {
  text-decoration: none;
  font-size: 0.8rem;
}

header h1 {
  font-size: 4vw;
  text-transform: uppercase;
  background: linear-gradient(
    0deg,
    rgba(255, 0, 255, 0) 0%,
    rgba(255, 0, 255, 0) 16%,
    #7c91cc 16%,
    #7c91cc 41%,
    rgba(255, 0, 255, 0) 41%
  );
  padding: 0 0.5em 0 0.5em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

nav a {
  text-decoration: none;
  color: var(--primary) !important;
  padding: 11px 11px;
}

/* nav .active {
 background-color: blanchedalmond;
}

nav a:hover {
  background-color: blanchedalmond;
} */

nav li {
  display: inline-block;
  text-align: center;
}

nav li span {
  display: block;
}

/* Home */

section {
  margin-bottom: 25px;
}

.title {
  border-bottom: solid 1px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
  align-items: flex-end;
  margin: 0px 20px 10px 20px;
}

.boxes {
  display: -webkit-box;
  overflow: scroll;
  margin-left: 20px;
}

.box {
  min-width: 8rem;
  height: 8rem;
  background-color: coral;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  align-content: stretch;
  padding: 5px;
}

/* See all Section */

.boxes-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
  margin: 0 20px 0 20px;
}

.box-section {
  min-width: 8rem;
  height: 8rem;
  background-color: coral;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  align-content: stretch;
  padding: 5px;
}

.label {
  font-size: 14px;
}

.selector {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Player */

.audio-player {
  background-color: #b7b7b7 !important;
  padding: 0.5rem;
  border-radius: 10px;
  filter: invert(100%);
  flex-wrap: wrap;
  margin: 20px;
}

.cover {
  padding: 0 70px 0 70px;
  width: -webkit-fill-available;
}

.podcast-info {
  padding: 0 20px 0 20px;
}

.podcast-info-description {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-top: 10px;
}

.form {
  min-width: 70%;
  margin: 0 20px 0 20px;
}

.form input {
  margin-bottom: 10px;
  margin: 0;
  padding: 10px;
}

.form .btn-primary {
  margin-top: 15px;
  width: 30%;
}

@media only screen and (max-width: 450px) {
  header {
    display: grid;
  }
  header h1 {
    font-size: 12vw;
  }
  nav ul {
    flex-direction: column;
  }
  section {
    flex-direction: column;
  }
  .card-img {
    width: 100%;
  }
  .card-title {
    font-size: 6vw;
  }
  .card-body {
    margin: 0;
    padding: 10px;
    border: 0;
  }
  .container {
    margin: 0;
    padding: 0 20px 0 20px;
  }
  .form {
    width: auto;
  }
  .form .btn-primary {
    width: auto;
  }
}
